<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>新闻资讯 - 捷和二手车</title>
  <include file="Public:meta" />
</head>
<body>


<header data-am-widget="header" class="am-header am-header-default my-header">
  <div class="am-header-left am-header-nav">
    <a href="__APP__/news/" class="">
        <span class="am-icon-chevron-left am-icon-sm am-icon-md"></span>
    </a>
  </div>
  <h1 class="am-header-title">新闻资讯</h1>
  <div class="am-header-right am-header-nav">
    <a href="#doc-oc-demo1" data-am-offcanvas>
      <span style="font-size:1rem;">选车</span>
    </a>
	<div id="doc-oc-demo1" class="am-offcanvas">
	  <div class="am-offcanvas-bar">
	    <div class="am-offcanvas-content">
		  	<ul class="am-nav">        
			  <li class="am-active"><a href="__APP__/car/">选车中心</a></li>
			  <li class="am-active"><a href="__APP__/news/">新闻中心</a></li>
			  <li class="am-active"><a href="__APP__/page/about/">关于捷和</a></li>
			  <li class="am-active"><a href="#">我要卖车</a></li>
			  <li class="am-active"><a href="#">定制车源</a></li>
			</ul>
	    </div>
	  </div>
	</div>
  </div>
</header>


<article class="am-article">
  <div class="am-article-hd">
	<neq name="newsData.image" value=""><p><img src="{:C('WEB_RES_URL')}{$newsData.image}" /></p></neq>
    <h1 class="am-article-title">{$newsData.title}</h1>
    <p class="am-article-meta">时间：{$newsData.addtime|date="Y-m-d",###}  点击：{$newsData.clicktimes}</p>
  </div>

  <div class="am-article-bd">
    {$newsData.content}
  </div>
</article>




<include file="Public:footer" />


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>

</body>
</html>